<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="./css/forgot.css">
</head>
<body>
<div class="nav">
  <div class="navbox">
    <a href="/"><img src="./img/zoho logo.png" alt="" sizes="" srcset="" width="100px" height="auto"></a>
  </div>
  <div class="navbox">
    Have a Business Account?
    <a class="highlight" href="/companylogin"> SIGN IN</a>
  </div>
</div>


<div class="main-body">
  <form action="/companyforgot" method="post">
    <div class="container forgot">
      <div class="heading box"><h2>Recover Password &nbsp;&nbsp;&nbsp;&nbsp;</h2></div>
      <div class="box">
        <label for="email">Email address / Mobile Number</label>
        <input type="text" name="email" id="email" value="{{body.email}}" placeholder="Email address or Mobile number">
        <label for="email" class="error">{{errorEmail}}</label>
      </div>
      <div class="box button">
        <button type="submit">Next</button>
      </div>
    </div>
  </form>

</div>
<script src="./js/chat.js"></script>
</body>
</html>