{{!-- <!DOCTYPE html>
<html>
    <head>
        <title>Sheetal</title>
        <link rel="icon" href="./img/icon.png" type="image/icon">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        {{>style}}
        <div class="main-header">
             {{>header}}
        </div>
       <div class="footer">
           {{>footer}}
       </div>
    </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>

        <nav class="navbar">
                <img class="one image" src="./img/profile.png" alt="">
            <div class="two">
                <ul class="head-ul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Shop</a></li>
                </ul>

            </div>
            <div class="three">
                <ul class="head-ul">
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                </ul>
            </div>
        </nav>

    <div class="container">
        <div class="box">
            <div class="split">
                <p class="subtitle">Oprating Bussiness</p>
                <h3><span class="nowrap">Your life's work,</span>
                    <span class="nowrap">powered by our life's work</span></h3>
                <p>Tired of running your business on complex, disjointed solutions that take away your energy and time? With Zoho One's operating system for business, your unified suite ensures your business processes will run like clockwork. You just focus on what matters the most: your goals</p>
                    <a class="startlink" href="/register">START YOUR FREE TRIAL</a>
            </div>
            <div class="split">
                <video width="400" height="400" autoplay loop>
                    <source src="./video/one-banner.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
            </div>
        </div>
    </div>
    <div class="centerOne">
        <div class="middleBar">
            <div class="middleNav">
                <ul>
                    <li><a href="#One" id="linkOne">Quick Tips</a></li>
                    <li><a href="#Two" id="linkTwo">Best Practice</a></li>
                    <li><a href="#Three" id="linkThree">Remote Working</a></li>
                    <li><a href="#Four" id="linkFour">Integration</a></li>
                </ul>
            </div>
            <div class="middle One" id="One">
                <h3>Quick Tips</h3>
                <p class="peragraph-middle">From learning about a specific feature, to customizing Zoho One for your business, here are some tips to help you out.

                </p>
                <div class="listed-video">
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/automaticfeeds.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/seo_friendly.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                </div>
                
            </div>
            <div class="middle Two" id="Two">
                 <h3>Best Practice</h3>
                <p class="peragraph-middle">From learning about a specific feature, to customizing Zoho One for your business, here are some tips to help you out.

                </p>
                <div class="listed-video">
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/automaticfeeds.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/seo_friendly.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                </div>
                
 
            </div>
            <div class="middle Three" id="Three">
                <h3>Remote Working</h3>
                <p class="peragraph-middle">From learning about a specific feature, to customizing Zoho One for your business, here are some tips to help you out.

                </p>
                <div class="listed-video">
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/automaticfeeds.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/seo_friendly.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                </div>
                
             </div>
            <div class="middle Four" id="Four">
                <h3>Integration</h3>
                <p class="peragraph-middle">From learning about a specific feature, to customizing Zoho One for your business, here are some tips to help you out.

                </p>
                <div class="listed-video">
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/automaticfeeds.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/seo_friendly.png" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                    <li>
                        <div class="videocard">
                            <h5> Home Heading </h5>
                            <img src="./img/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="videoContent">
                           
                            <h5> Switch between apps easily with the u... </h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                                elit. Perferendis deleniti itaque 
                                fuga voluptatum alias, doloremque
                                 temporibus distinctio magnam quis 
                                 repudiandae libero cumque aspernatur 
                                 corporis delectus nesciunt. 
                                 Quas ut culpa obcaecati. </p>
                        </div>
                    </li>
                </div>
                
 
            </div>
            
        </div>
    </div>
<!-- 
    <div class="allcard">
        <div class="card">
            <img src="../test2/img/card1.webp" alt="" width="100%" height="auto">
            <p>Task Manager</p>
        </div>
        <div class="card">
            <img src="../test2/img/card2.jpg" alt="" width="100%" height="auto">
            <p>Task Manager</p>
        </div>
        <div class="card">
            <img src="../test2/img/card3.png" alt="" width="100%" height="auto">
            <p>Task Manager</p>
        </div>
        <div class="card">
            <img src="../test2/img/card4.webp" alt="" width="100%" height="auto">
            <p>Task Manager</p>
        </div>

    </div> -->

    <div class="box back" id="scrolltobe">
        <div class="split col">
            <h3><span class="nowrap light">Made in India</span>
                <span class="nowrap light">Made for the World</span></h3>
                <div class="currentCount">
                    <div class="countBox">
                        <div class="valueBox">
                            <div class="value" id="valueOne">
                            
                             </div>
                            <div class="valueName">
                                Users Globally
                            </div>
                        </div>
                        <div class="valueBox">
                            <div class="value" id="valueTwo">
                                
                            </div>
                            <div class="valueName">
                                Employees Worldwide
                            </div>
                        </div>
                    </div>
                    <div class="countBox">
                        <div class="valueBox">
                            <div class="value"  id="valueThree">
                             
                             </div>
                            <div class="valueName">
                                Country Served
                            </div>
                        </div>
                    <div class="valueBox">
                        <div class="value" id="valueFour">
                            
                        </div>
                        <div class="valueName">
                            Years In Bussiness
                        </div>
                    </div>
                    </div>
                </div>
                <a href="/register" class="link">Connect Yourself</a>
        </div>
        <div class="split">
            <img src="./img/made-au-bg.png" alt="" width="300px" height="300px">
        </div>
    </div>


    <footer class="footer el">
            <ul class="foot-ul">
                <li><a href="/">Home </a></li>
                <li><a href="">Contact Us </a></li>
                <li><a href="">Terms </a></li>
                <li><a href="">Cookie Policy </a></li>
                <li><a href="">Security</a></li>
            </ul>
                <p>© 2024. All Rights Reserved.</p>
    </footer>

    <script src="./js/home.js"></script>
</body>
</html>