<!DOCTYPE html>
<html>
    <head>
        <title>Sheetal</title>
        <link rel="icon" href="./img/icon.png" type="image/icon">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        {{>style}}
        <div class="main-header">
             {{>header}}
        </div>
       <div class="footer">
           {{>footer}}
       </div>
    </body>
</html>