<!DOCTYPE html>
<html>
    <head>
         <title>Sheetal</title>
        <link rel="icon" href="../img/icon.png" type="image/icon">
        <link rel="stylesheet" href="../css/style.css">
        {{>style}}
    </head>
    <body>
        {{>header}}
        <div class="login-page">
        <p> You are logout Press </p>
        <a href="login">Ok</a>
        </div>
    </body>
</html>