<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/success.css">
</head>
<body>
    <div class="main">
        <div class="part one">
            <h1>{{mainHead}}</h1>
            <h3>{{describe}}</h3>
            <p>What do you want to do next ?</p>
            <div class="link">
                <a href="{{linkFirst}}" class="linkOne">Go back home</a>
                <a href="{{linkSecond}}" class="linkTwo">Sign In</a>
            </div>
        </div>
        <div class="part two">
            <img src="./img/5186385.jpg" alt="">
        </div>
    </div>
</body>
</html>