<!DOCTYPE html>
<html>
    <head>
         <title>Sheetal</title>
        <link rel="icon" href="../img/icon.png" type="image/icon">
        <link rel="stylesheet" href="../css/style.css">
        {{>style}}
    </head>
    <body>
            {{>header}}
           <div class="login-page">
            <form action="/changepassword" method="post">
                <p>Enter new password for your acoount</p>
                <input type="password" name="newpassword" placeholder="New password" required>
                <button type="submit">Change Password</button>
            </form> 
        </div>
        <div class="footer" >{{>footer}}</div>
    </body>
</html>