*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: small;

}

.main {
    display: flex;
    /* background-color: cadetblue; */
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.part{
    display: flex;
    width: 500px;
    height: 500px;
}

.one {
 /* background-color: bisque; */
 flex-direction: column;
 align-items: start;
 justify-content: start;
 width: 600px;
 padding: 40px;
}

.two {
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
    display:inline-block;
    padding: 20px;
    border: 3px solid #1b2e35;
    /* border-radius: 5px; */
    margin:10px 0 0 0;
    font-size: small; 
    
}

.linkOne{
    color: #1b2e35;
    
    
}

.linkOne:hover {
    background-color: #10dee9;
    color: #1b2e35;
    /* color:white; */
    transition: all 2s;
    

}

.linkTwo {
    /* background-color: #10dee9; */
    color: #1b2e35;
}

.linkTwo:hover {
    background-color: #10dee9;
    color: #1b2e35;
    transition: all 1s;
}

h1{
    font-size: 4rem;
    color: green;
    animation-name: success;
    animation-duration: 5s;
}



h3 {
    font-weight: 100;
    font-size: medium;
}

p{
    margin: 60px 0 15px 0;
    font-size: medium;
}

.error{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes success {
    0% {color: green; transform: translateX(0);}
    25% {color: green; transform: translateY(-100%);}
    50% {color: rgb(14, 235, 14); transform: translateY(0);}
    75% {color: green; transform: translateX(-70);}
    100% {color: green; transform: translateX(0);}
}